# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Password/Credentials
.pwd
.pwdloc
creConnect/.pwdmongolocal
creConnect/.pwdmongoatlas

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
.idea/
.vscode/

# Folders where jar files will be staged, not tpo be included in git sync.
stage/

devlab-hdfs-paimon-hdfs-cat/hdfs/base/stage
devlab-hdfs-paimon-hdfs-cat/stage
devlab-hdfs-paimon-hdfs-cat/data

devlab-hms-postgres/stage
devlab-hms-postgres/data

devlab-hms-standalone/stage
devlab-hms-standalone/data
